<div ngClass="auth-wrapper eo">
    <div ngClass="auth-inner eo">
        <h2 class="title">Witamy na naszej stronie głównej</h2>
        <br>
        <br>
        <div class="contento">Zapraszamy do logowania</div>
        <div class="adnotationo">Jeśli nie masz konta <a [routerLink]="['register']"> zarejestruj się</a>   </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <img src="/../../assets/logo.png" alt="image" class="imga">
       
    </div>
</div>  