
<body>
    <div ngClass="auth-wrapper">
        <div ngClass="auth-inner">
            <p>Witaj, {{username}}</p>
        </div>
    </div>
    <div ngClass="auth-wrapper eo">
        <div ngClass="auth-inner eo">
            <div class="d-grid gap-2 d-md-block">
                <div class="buttonwrapper">
                    <div class="kwotaVal">Twój stan konta: {{hajs}} {{Currency}}</div>
                </div>
                <br>
                <div class="buttonwrapper">
                <a class="nav-link active" aria-current="page" [routerLink]="['transfer']">
                    <button class="btn btn-primary " type="button">Przelej hajs</button>
                </a>
                </div>
                <br>
                <div class="buttonwrapper">
                    <a class="nav-link active" aria-current="page" [routerLink]="['transfer']">
                    <button class="btn btn-primary" type="button">Przewalutuj</button>
                </a>
                </div>
              </div>
        </div>
    </div>
       

    
</body>


