
<body>
    <div ngClass="auth-wrapper eo">
        <div ngClass="auth-inner eo">
            <p>Witaj, <b>{{username}}</b></p>
            <div class="d-grid gap-2 d-md-block">
                
                <li class="acc" *ngFor="let item of aaa ">{{item}}</li>
                    <div class="buttonwrapper">
                        <a class="nav-link active" aria-current="page" [routerLink]="['transfer']">
                            <button class="btn btn-primary " type="button">Prześlij przelew</button>
                        </a>
                    </div>
                    <div class="buttonwrapper">
                        <a class="nav-link active" aria-current="page" [routerLink]="['history']">
                            <button class="btn btn-primary " type="button">Wyświetl Historię przelewów</button>
                        </a>
                    </div>
              </div>
        </div>
    </div>
       

    
</body>


